body{margin:0;padding:0}
#cabezote_fac {
	margin: 12px auto 0;
	width: 970px;
	height: 140px;
	background: url("http://puj-portal.javeriana.edu.co/portal/page/portal/Facultad%20de%20Ingenieria/1imagenes/cabezote.jpg") no-repeat center top;
	position: relative;
}
#contenido_fac {
	display: relative;
	width: 970px;
	height; auto;
	margin: 0 auto;
	background: url(http://puj-portal.javeriana.edu.co/portal/page/portal/Facultad%20de%20Ingenieria/1imagenes/fondo_menuprin.jpg) repeat-y center center;
}
#fondo {
	width: 960px;
	margin: 0 5px;
	background: #94b3c5 url(http://puj-portal.javeriana.edu.co/portal/page/portal/Facultad%20de%20Ingenieria/1imagenes/fondo_vertical.jpg) repeat-x center 150px;
}
#banner {
	background: url('http://puj-portal.javeriana.edu.co/portal/page/portal/Facultad%20de%20Ingenieria/1imagenes_banner/fac_ing.jpg');
	width: 960px;
	height: 150px;
	position: relative;
}
#banner_texto{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 46px;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: rgba(45,91,129,.7);
}
.tit_banner_3{
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}
#banner_texto .lang{
	float: right;
	margin: 10px 25px 0 0;
}
#footer_fac {
	margin: 0 auto;
	width:970px;
	display: relative;
	background: url('http://puj-portal.javeriana.edu.co/portal/page/portal/Facultad%20de%20Ingenieria/1imagenes/footer_fac.jpg') no-repeat center bottom;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	font-family: Verdana, Helvetica, "Trebuchet MS";
	font-size: 9px;
	color: #ffffff;
	line-height: 20px;
}
#logo {
	display: block;
	padding: 15px 0 0 20px;
	float: left;
}
#logo a {
	display: block;
	background: url('http://puj-portal.javeriana.edu.co/portal/page/portal/plantillasAtico/imagenes/tiara.gif') no-repeat center top;
	width: 246px;
	height: 82px;
	font-size: 0;
	text-indent: -999em;
}
#FormBusqueda {
	float: right;
	height: 50px;
	margin: 18px 30px 0 0;
	position: relative;
	text-align: right;
	width: 364px;
}
#FormBusqueda label {
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}
#FormBusqueda input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 1px 0;
}
#FormBusqueda select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
#titulo_fac{
	text-align: right;
	clear: right;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: normal;
	padding: 20px 22px 0 0;
}
ul.MenuBarHorizontal
{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 10pt;
  width: 961px;
  font-family: Verdana;
  height: 35px;
  background-color: #2b5b81;
  text-align: right;
  vertical-align: middle;
}
ul.MenuBarHorizontal:hover
{
  z-index: 1000;
}
ul.MenuBarHorizontal li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	text-align: center;
	cursor: pointer;
	float: left;
}
ul.MenuBarHorizontal ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 10px;
	z-index: 1020;
	cursor: default;
	width: 100px;
	position: absolute;
	left: -2000px;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to auto so it comes onto the screen below its parent menu item */
ul.MenuBarHorizontal li:hover>ul
{
	left: auto;
}
/* Menu item containers are same fixed width as parent */
ul.MenuBarHorizontal ul li
{
	width: 150px;
}
/* Submenus should appear slightly overlapping to the right (95%) and up (-5%) */
ul.MenuBarHorizontal ul ul
{
	position: absolute;
	margin: 10 0 0 1;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */
ul.MenuBarHorizontal ul li:hover>ul
{
	left: 150px;
	top: 0;
}
/* Submenu containers have borders on all sides */
ul.MenuBarHorizontal ul
{

}
/* Menu items are a light gray block with padding and no text decoration */
ul.MenuBarHorizontal a
{
	display: block;
	cursor: pointer;
	background-color: #2b5b81;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 9px;
	padding-bottom: 8px;
	padding-top: 9px;
	padding-left: 9px;
	text-align: left;
	vertical-align: middle;
}
/* Menu items that have mouse over or focus have a blue background and white text */
ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus
{
	color: #FFF;
}
/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */
ul.MenuBarHorizontal a.MenuBarItemHover, ul.MenuBarHorizontal a.MenuBarItemSubmenuHover, ul.MenuBarHorizontal a.MenuBarSubmenuVisible
{
	color: #94b3c5;
}
/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal ul a.MenuBarItemSubmenu
{
	background-image: url(SpryMenuBarRight.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
.anchoPos {
	width: 300px;
}

/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal ul a.MenuBarItemSubmenuHover
{
	background-image: url(SpryMenuBarRightHover.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

/*******************************************************************************

 BROWSER HACKS: the hacks below should not be changed unless you are an expert

 *******************************************************************************/

/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */
ul.MenuBarHorizontal iframe
{
	position: absolute;
	z-index: 1010;
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
	ul.MenuBarHorizontal li.MenuBarItemIE
	{
		display: inline;
		f\loat: left;
		background: #FFF;
	}
}